body {
  margin: 0;
  font-family: 'Lexend_Deca';
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Lexend_Deca';
  src: url('./fonts/LexendDeca-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
